{% extends 'Main/base.html' %}
{% load static %}
{% block content %}

	<!-- hero section -->
	<section id="hero">

		<div class="container-xl">

			<div class="row gy-4">

				<div class="col-lg-8">

					<!-- featured post large -->
					{% for i in main_post %}
					<div class="post featured-post-lg">
						<div class="details clearfix">
							<a href="{% url 'category' %}" class="category-badge">{{i.category}}</a>
							<h2 class="post-title"><a href="{% url 'blog_single' %}">{{i.title}}</a></h2>
							<ul class="meta list-inline mb-0">
								<li class="list-inline-item"><a href="#">{{i.author}}</a></li>
								<li class="list-inline-item">{{i.date}}</li>
							</ul>
						</div>
						<a href="{% url 'blog_single' %}">
							<div class="thumb rounded">
								<div class="inner data-bg-image" data-bg-image="{{i.fetured_image.url}}"></div>
							</div>
						</a>
					</div>
					{% endfor %}
				</div>

				<div class="col-lg-4">

					<!-- post tabs -->
					<div class="post-tabs rounded bordered">
						<!-- tab navs -->
						<ul class="nav nav-tabs nav-pills nav-fill" id="postsTab" role="tablist">
							<li class="nav-item" role="presentation"><button aria-controls="popular" aria-selected="true" class="nav-link active" data-bs-target="#popular" data-bs-toggle="tab" id="popular-tab" role="tab" type="button">Popular</button></li>
							<li class="nav-item" role="presentation"><button aria-controls="recent" aria-selected="false" class="nav-link" data-bs-target="#recent" data-bs-toggle="tab" id="recent-tab" role="tab" type="button">Recent</button></li>
						</ul>
						<!-- tab contents -->
						<div class="tab-content" id="postsTabContent">
							<!-- loader -->
							<div class="lds-dual-ring"></div>
							<!-- popular posts -->
							<div aria-labelledby="popular-tab" class="tab-pane fade show active" id="popular" role="tabpanel">
								<!-- post -->
								{% for i in popular_post %}
								<div class="post post-list-sm circle">
									<div class="thumb circle">
										<a href="{% url 'blog_single' %}">
											<div class="inner">
												<img src="{{i.fetured_image.url}}" alt="post-title" />
											</div>
										</a>
									</div>
									<div class="details clearfix">
										<h6 class="post-title my-0"><a href="{% url 'blog_single' %}">{{i.title | truncatechars:35}}</a></h6>
										<ul class="meta list-inline mt-1 mb-0">
											<li class="list-inline-item">{{i.date}}</li>
										</ul>
									</div>
								</div>
								{% endfor %}
							</div>
							<!-- recent posts -->
							<div aria-labelledby="recent-tab" class="tab-pane fade" id="recent" role="tabpanel">
								<!-- post -->
								{% for i in recent_post %}
								<div class="post post-list-sm circle">
									<div class="thumb circle">
										<a href="{% url 'blog_single' %}">
											<div class="inner">
												<img src="{{i.fetured_image.url}}" alt="post-title" />
											</div>
										</a>
									</div>
									<div class="details clearfix">
										<h6 class="post-title my-0"><a href="{% url 'blog_single' %}">{{i.title | truncatechars:35}}</a></h6>
										<ul class="meta list-inline mt-1 mb-0">
											<li class="list-inline-item">{{i.date}}</li>
										</ul>
									</div>
								</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>

	</section>

	<!-- section main content -->
	<section class="main-content">
		<div class="container-xl">

			<div class="row gy-4">

				<div class="col-lg-8">

					<!-- section header -->
					<div class="section-header">
						<h3 class="section-title">Editor’s Pick</h3>
						<img src="{% static 'images/wave.svg' %}" class="wave" alt="wave" />
					</div>

					<div class="padding-30 rounded bordered">
						<div class="row gy-5">
							{% for i in Editor_pick %}
								{% if forloop.counter == 1 %}
								<div class="col-sm-6">
									<!-- post -->
									<div class="post">
										<div class="thumb rounded">
											<a href="{% url 'category' %}" class="category-badge position-absolute">{{i.category}}</a>
											<span class="post-format">
												<i class="icon-picture"></i>
											</span>
											<a href="{% url 'blog_single' %}">
												<div class="inner">
													<img src="{{i.fetured_image.url}}" alt="post-title" />
												</div>
											</a>
										</div>
										<ul class="meta list-inline mt-4 mb-0">
											<li class="list-inline-item"><a href="#"><img src="{% static 'images/other/author-sm.png' %}" class="author" alt="author"/>{{i.author}}</a></li>
											<li class="list-inline-item">{{i.date}}</li>
										</ul>
										<h5 class="post-title mb-3 mt-3"><a href="{% url 'blog_single' %}">{{i.title | truncatechars:35}}</a></h5>
										<p class="excerpt mb-0">{{i.content |safe| truncatechars:200}}</p>
									</div>
								</div>
								{% endif %}
							{% endfor %}
							<div class="col-sm-6">
								<!-- post -->
								{% for i in Editor_pick|slice:"1:5" %}
								<div class="post post-list-sm square">
									<div class="thumb rounded">
										<a href="{% url 'blog_single' %}">
											<div class="inner">
												<img src="{{i.fetured_image.url}}" alt="post-title" />
											</div>
										</a>
									</div>
									<div class="details clearfix">
										<h6 class="post-title my-0"><a href="{% url 'blog_single' %}">{{i.title | truncatechars:35}}</a></h6>
										<ul class="meta list-inline mt-1 mb-0">
											<li class="list-inline-item">{{i.date}}</li>
										</ul>
									</div>
								</div>
								{% endfor %}
							</div>
						</div>
					</div>

					<div class="spacer" data-height="50"></div>

					<!-- horizontal ads -->
					<div class="ads-horizontal text-md-center">
						<span class="ads-title">- Sponsored Ad -</span>
						<a href="#">
							<img src="{% static 'images/ads/ad-750.png' %}" alt="Advertisement" />
						</a>
					</div>

					<div class="spacer" data-height="50"></div>

					<!-- section header -->
					<div class="section-header">
						<h3 class="section-title">Trending</h3>
						<img src="{% static 'images/wave.svg' %}" class="wave" alt="wave" />
					</div>

					<div class="padding-30 rounded bordered">
						<div class="row gy-5">
							<div class="col-sm-6">
								<!-- post large -->
								{% for i in Trending %}
								{% if forloop.counter == 1 %}
								<div class="post">
									<div class="thumb rounded">
										<a href="{% url 'category' %}" class="category-badge position-absolute">Culture</a>
										<span class="post-format">
											<i class="icon-picture"></i>
										</span>
										<a href="{% url 'blog_single' %}">
											<div class="inner">
												<img src="{{ i.fetured_image.url}}" alt="post-title" />
											</div>
										</a>
									</div>
									<ul class="meta list-inline mt-4 mb-0">
										<li class="list-inline-item"><a href="#"><img src="{% static 'images/other/author-sm.png' %}" class="author" alt="author"/>{{i.author}}</a></li>
										<li class="list-inline-item">{{i.date}}</li>
									</ul>
									<h5 class="post-title mb-3 mt-3"><a href="{% url 'blog_single' %}">{{i.title | truncatechars:35}}</a></h5>
									<p class="excerpt mb-0">{{i.content |safe| truncatechars:200}}</p>
								</div>
								{% endif %}
								{% endfor %}


								<!-- post -->
								{% for i in Trending|slice:"1:3" %}
								<div class="post post-list-sm square before-seperator">
									<div class="thumb rounded">
										<a href="{% url 'blog_single' %}">
											<div class="inner">
												<img src="{{i.fetured_image.url}}" alt="post-title" />
											</div>
										</a>
									</div>
									<div class="details clearfix">
										<h6 class="post-title my-0"><a href="{% url 'blog_single' %}">{{i.title | truncatechars:35}}</a></h6>
										<ul class="meta list-inline mt-1 mb-0">
											<li class="list-inline-item">{{i.date}}</li>
										</ul>
									</div>
								</div>
								{% endfor %}
							</div>
							<div class="col-sm-6">
								<!-- post large -->
								{% for i in Trending %}
								{% if forloop.counter == 4 %}
								<div class="post">
									<div class="thumb rounded">
										<a href="{% url 'category' %}" class="category-badge position-absolute">Inspiration</a>
										<span class="post-format">
											<i class="icon-picture"></i>
										</span>
										<a href="{% url 'blog_single' %}">
											<div class="inner">
												<img src="{{ i.fetured_image.url}}" alt="post-title" />
											</div>
										</a>
									</div>
									<ul class="meta list-inline mt-4 mb-0">
										<li class="list-inline-item"><a href="#"><img src="{% static 'images/other/author-sm.png' %}" class="author" alt="author"/>{{i.author}}</a></li>
										<li class="list-inline-item">{{i.date}}</li>
									</ul>
									<h5 class="post-title mb-3 mt-3"><a href="{% url 'blog_single' %}">{{i.title | truncatechars:35}}</a></h5>
									<p class="excerpt mb-0">{{i.content |safe| truncatechars:200}}</p>
								</div>
								{% endif %}
								{% endfor %}


								<!-- post -->
								{% for i in Trending|slice:"5:7" %}
								<div class="post post-list-sm square before-seperator">
									<div class="thumb rounded">
										<a href="{% url 'blog_single' %}">
											<div class="inner">
												<img src="{{i.fetured_image.url}}" alt="post-title" />
											</div>
										</a>
									</div>
									<div class="details clearfix">
										<h6 class="post-title my-0"><a href="{% url 'blog_single' %}">{{i.title | truncatechars:35}}</a></h6>
										<ul class="meta list-inline mt-1 mb-0">
											<li class="list-inline-item">{{i.date}}</li>
										</ul>
									</div>
								</div>
								{% endfor %}
							</div>
						</div>
					</div>

					<div class="spacer" data-height="50"></div>

					<!-- section header -->
					<div class="section-header">
						<h3 class="section-title">Inspiration</h3>
						<img src="{% static 'images/wave.svg' %}" class="wave" alt="wave" />
						<div class="slick-arrows-top">
							<button type="button" data-role="none" class="carousel-topNav-prev slick-custom-buttons" aria-label="Previous"><i class="icon-arrow-left"></i></button>
							<button type="button" data-role="none" class="carousel-topNav-next slick-custom-buttons" aria-label="Next"><i class="icon-arrow-right"></i></button>
						</div>
					</div>

					<div class="row post-carousel-twoCol post-carousel">
						<!-- post -->
						{% for i in Inspiration %}
						<div class="post post-over-content col-md-6">
							<div class="details clearfix">
								<a href="{% url 'category' %}" class="category-badge">{{i.category}}</a>
								<h4 class="post-title"><a href="{% url 'blog_single' %}">{{i.title}}</a></h4>
								<ul class="meta list-inline mb-0">
									<li class="list-inline-item"><a href="#">{{i.author}}</a></li>
									<li class="list-inline-item">{{i.date}}</li>
								</ul>
							</div>
							<a href="{% url 'blog_single' %}">
								<div class="thumb rounded">
									<div class="inner">
										<img src="{{i.fetured_image.url}}" alt="thumb" />
									</div>
								</div>
							</a>
						</div>
						{% endfor %}
					</div>

					<div class="spacer" data-height="50"></div>

					<!-- section header -->
					<div class="section-header">
						<h3 class="section-title">Latest Posts</h3>
						<img src="{% static 'images/wave.svg' %}" class="wave" alt="wave" />
					</div>

					<div class="padding-30 rounded bordered">

						<div class="row">
							{% for i in Latest_Posts %}
							<div class="col-md-12 col-sm-6">
								<!-- post -->
								<div class="post post-list clearfix">
									<div class="thumb rounded">
										<span class="post-format-sm">
											<i class="icon-picture"></i>
										</span>
										<a href="{% url 'blog_single' %}">
											<div class="inner">
												<img src="{{i.fetured_image.url}}" alt="post-title" />
											</div>
										</a>
									</div>
									<div class="details">
										<ul class="meta list-inline mb-3">
											<li class="list-inline-item"><a href="#"><img src="{% static 'images/other/author-sm.png' %}" class="author" alt="author"/>{{i.author}}</a></li>
											<li class="list-inline-item"><a href="#">{{i.category}}</a></li>
											<li class="list-inline-item">{{i.date}}</li>
										</ul>
										<h5 class="post-title"><a href="{% url 'blog_single' %}">{{i.title | truncatechars:50}}</a></h5>
										<p class="excerpt mb-0">{{i.content |safe| truncatechars:100}}</p>
										<div class="post-bottom clearfix d-flex align-items-center">
											<div class="social-share me-auto">
												<button class="toggle-button icon-share"></button>
												<ul class="icons list-unstyled list-inline mb-0">
													<li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
													<li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
													<li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
													<li class="list-inline-item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
													<li class="list-inline-item"><a href="#"><i class="fab fa-telegram-plane"></i></a></li>
													<li class="list-inline-item"><a href="#"><i class="far fa-envelope"></i></a></li>
												</ul>
											</div>
											<div class="more-button float-end">
												<a href="{% url 'blog_single' %}"><span class="icon-options"></span></a>
											</div>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
						<!-- load more button -->
						<div class="text-center">
							<button class="btn btn-simple">Load More</button>
						</div>

					</div>

				</div>
				<div class="col-lg-4">

					<!-- sidebar -->
					<div class="sidebar">
						<!-- widget about -->
						<div class="widget rounded">
							<div class="widget-about data-bg-image text-center" data-bg-image="{% static 'images/map-bg.png' %}">
								<img src="{% static 'images/logo.svg' %}" alt="logo" class="mb-4" />
								<p class="mb-4">Hello, We’re content writer who is fascinated by content fashion, celebrity and lifestyle. We helps clients bring the right content to the right people.</p>
								<ul class="social-icons list-unstyled list-inline mb-0">
									<li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
									<li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
									<li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
									<li class="list-inline-item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
									<li class="list-inline-item"><a href="#"><i class="fab fa-medium"></i></a></li>
									<li class="list-inline-item"><a href="#"><i class="fab fa-youtube"></i></a></li>
								</ul>
							</div>
						</div>

						<!-- widget popular posts -->
						<div class="widget rounded">
							<div class="widget-header text-center">
								<h3 class="widget-title">Popular Posts</h3>
								<img src="{% static 'images/wave.svg' %}" class="wave" alt="wave" />
							</div>
							<div class="widget-content">
								<!-- post -->
								{% for i in popular_post|slice:"1:4" %}
								<div class="post post-list-sm circle">
									<div class="thumb circle">
										<span class="number">1</span>
										<a href="{% url 'blog_single' %}">
											<div class="inner">
												<img src="{{ i.fetured_image.url }}" alt="post-title" />
											</div>
										</a>
									</div>
									<div class="details clearfix">
										<h6 class="post-title my-0"><a href="{% url 'blog_single' %}">{{i.title | truncatechars:50}}</a></h6>
										<ul class="meta list-inline mt-1 mb-0">
											<li class="list-inline-item">{{i.date}}</li>
										</ul>
									</div>
								</div>
								{% endfor %}
							</div>
						</div>

						<!-- widget categories -->
						<div class="widget rounded">
							<div class="widget-header text-center">
								<h3 class="widget-title">Explore Topics</h3>
								<img src="{% static 'images/wave.svg' %}" class="wave" alt="wave" />
							</div>
							<div class="widget-content">
								<ul class="list">
									{% for i in category %}
									<li><a href="#">{{i.name}}</a><span>(5)</span></li>
									{% endfor %}
								</ul>
							</div>

						</div>

						<!-- widget newsletter -->
						<div class="widget rounded">
							<div class="widget-header text-center">
								<h3 class="widget-title">Newsletter</h3>
								<img src="{% static 'images/wave.svg' %}" class="wave" alt="wave" />
							</div>
							<div class="widget-content">
								<span class="newsletter-headline text-center mb-3">Join 70,000 subscribers!</span>
								<form>
									<div class="mb-2">
										<input class="form-control w-100 text-center" placeholder="Email address…" type="email">
									</div>
									<button class="btn btn-default btn-full" type="submit">Sign Up</button>
								</form>
								<span class="newsletter-privacy text-center mt-3">By signing up, you agree to our <a href="#">Privacy Policy</a></span>
							</div>
						</div>

						<!-- widget post carousel -->
						<div class="widget rounded">
							<div class="widget-header text-center">
								<h3 class="widget-title">Celebration</h3>
								<img src="{% static 'images/wave.svg' %}" class="wave" alt="wave" />
							</div>
							<div class="widget-content">
								<div class="post-carousel-widget">
									<!-- post -->
									<div class="post post-carousel">
										<div class="thumb rounded">
											<a href="{% url 'category' %}" class="category-badge position-absolute">How to</a>
											<a href="{% url 'blog_single' %}">
												<div class="inner">
													<img src="{% static 'images/widgets/widget-carousel-1.jpg' %}" alt="post-title" />
												</div>
											</a>
										</div>
										<h5 class="post-title mb-0 mt-4"><a href="{% url 'blog_single' %}">5 Easy Ways You Can Turn Future Into Success</a></h5>
										<ul class="meta list-inline mt-2 mb-0">
											<li class="list-inline-item"><a href="#">Katen Doe</a></li>
											<li class="list-inline-item">29 March 2021</li>
										</ul>
									</div>
									<!-- post -->
									<div class="post post-carousel">
										<div class="thumb rounded">
											<a href="{% url 'category' %}" class="category-badge position-absolute">Trending</a>
											<a href="{% url 'blog_single' %}">
												<div class="inner">
													<img src="{% static 'images/widgets/widget-carousel-2.jpg' %}" alt="post-title" />
												</div>
											</a>
										</div>
										<h5 class="post-title mb-0 mt-4"><a href="{% url 'blog_single' %}">Master The Art Of Nature With These 7 Tips</a></h5>
										<ul class="meta list-inline mt-2 mb-0">
											<li class="list-inline-item"><a href="#">Katen Doe</a></li>
											<li class="list-inline-item">29 March 2021</li>
										</ul>
									</div>
									<!-- post -->
									<div class="post post-carousel">
										<div class="thumb rounded">
											<a href="{% url 'category' %}" class="category-badge position-absolute">How to</a>
											<a href="{% url 'blog_single' %}">
												<div class="inner">
													<img src="{% static 'images/widgets/widget-carousel-1.jpg' %}" alt="post-title" />
												</div>
											</a>
										</div>
										<h5 class="post-title mb-0 mt-4"><a href="{% url 'blog_single' %}">5 Easy Ways You Can Turn Future Into Success</a></h5>
										<ul class="meta list-inline mt-2 mb-0">
											<li class="list-inline-item"><a href="#">Katen Doe</a></li>
											<li class="list-inline-item">29 March 2021</li>
										</ul>
									</div>
								</div>
								<!-- carousel arrows -->
								<div class="slick-arrows-bot">
									<button type="button" data-role="none" class="carousel-botNav-prev slick-custom-buttons" aria-label="Previous"><i class="icon-arrow-left"></i></button>
									<button type="button" data-role="none" class="carousel-botNav-next slick-custom-buttons" aria-label="Next"><i class="icon-arrow-right"></i></button>
								</div>
							</div>
						</div>

						<!-- widget advertisement -->
						<div class="widget no-container rounded text-md-center">
							<span class="ads-title">- Sponsored Ad -</span>
							<a href="#" class="widget-ads">
								<img src="{% static 'images/ads/ad-360.png' %}" alt="Advertisement" />
							</a>
						</div>

						<!-- widget tags -->
						<div class="widget rounded">
							<div class="widget-header text-center">
								<h3 class="widget-title">Tag Clouds</h3>
								<img src="{% static 'images/wave.svg' %}" class="wave" alt="wave" />
							</div>
							<div class="widget-content">
								{% for i in tag|slice:"1:5" %}
								<a href="#" class="tag">{{i.name}}</a>
								{% endfor %}
							</div>
						</div>

					</div>

				</div>

			</div>

		</div>
	</section>


{% endblock %}