{% extends 'Main/base.html' %}
{% load static %}
{% block content %}

    <div class="container-xl">
        <!-- header -->
        <header class="header-minimal">

            <div class="row align-items-center">

                <div class="col-4">
                    <button class="burger-menu icon-button">
                        <span class="burger-icon"></span>
                    </button>
                </div>

                <div class="col-4 text-center">
                    <!-- site logo -->
                    <a class="navbar-brand" href="minimal.html"><img src="{% static 'images/logo.svg' %}" alt="logo" /></a>
                </div>

                <div class="col-4">
                    <button class="search icon-button float-end">
                        <i class="icon-magnifier"></i>
                    </button>
                </div>

            </div>

        </header>
    </div>

	<!-- section main content -->
	<section class="main-content-lg">
        <div class="container-minimal">
            <!-- post -->
            <div class="post post-xl">
                <!-- top section -->
                <div class="post-top">
                    <ul class="meta list-inline mb-0">
                        <li class="list-inline-item"><a href="#"><img src="{% static 'images/other/author-sm.png' %}" class="author" alt="author"/>Katen Doe</a></li>
                        <li class="list-inline-item">29 March 2021</li>
                        <li class="list-inline-item"><i class="icon-bubble"></i> (0)</li>
                    </ul>
                    <h5 class="post-title mb-0 mt-4"><a href="{% url 'blog_single' %}">How To Become Better With Building In 1 Month</a></h5>
                </div>
                <!-- thumbnail -->
                <div class="thumb rounded">
                    <a href="{% url 'category' %}" class="category-badge lg position-absolute">Lifestyle</a>
                    <span class="post-format">
                        <i class="icon-picture"></i>
                    </span>
                    <a href="{% url 'blog_single' %}">
                        <div class="inner">
                            <img src="{% static 'images/posts/post-xl-1.jpg' %}" alt="post-title" />
                        </div>
                    </a>
                </div>
                <!-- details -->
                <div class="details">
                    <p class="excerpt mb-0">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                </div>
                <div class="post-bottom clearfix d-flex align-items-center">
                    <div class="social-share me-auto">
                        <button class="toggle-button icon-share"></button>
                        <ul class="icons list-unstyled list-inline mb-0">
                            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-telegram-plane"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="far fa-envelope"></i></a></li>
                        </ul>
                    </div>
                    <div class="float-end d-none d-md-block">
                        <a href="{% url 'blog_single' %}" class="more-link">Continue reading<i class="icon-arrow-right"></i></a>
                    </div>
                    <div class="more-button d-block d-md-none float-end">
                        <a href="{% url 'blog_single' %}"><span class="icon-options"></span></a>
                    </div>
                </div>
            </div>

            <!-- post -->
            <div class="post post-xl">
                <!-- top section -->
                <div class="post-top">
                    <ul class="meta list-inline mb-0">
                        <li class="list-inline-item"><a href="#"><img src="{% static 'images/other/author-sm.png' %}" class="author" alt="author"/>Katen Doe</a></li>
                        <li class="list-inline-item">29 March 2021</li>
                        <li class="list-inline-item"><i class="icon-bubble"></i> (0)</li>
                    </ul>
                    <h5 class="post-title mb-0 mt-4"><a href="{% url 'blog_single' %}">Most Important Thing You Need To Know About Light Lamp</a></h5>
                </div>
                <!-- thumbnail -->
                <div class="thumb rounded">
                    <a href="{% url 'category' %}" class="category-badge lg position-absolute">Inspiration</a>
                    <a href="{% url 'blog_single' %}">
                        <div class="inner">
                            <img src="{% static 'images/posts/post-xl-2.jpg' %}" alt="post-title" />
                        </div>
                    </a>
                </div>
                <!-- details -->
                <div class="details">
                    <p class="excerpt mb-0">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                </div>
                <div class="post-bottom clearfix d-flex align-items-center">
                    <div class="social-share me-auto">
                        <button class="toggle-button icon-share"></button>
                        <ul class="icons list-unstyled list-inline mb-0">
                            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-telegram-plane"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="far fa-envelope"></i></a></li>
                        </ul>
                    </div>
                    <div class="float-end d-none d-md-block">
                        <a href="{% url 'blog_single' %}" class="more-link">Continue reading<i class="icon-arrow-right"></i></a>
                    </div>
                    <div class="more-button d-block d-md-none float-end">
                        <a href="{% url 'blog_single' %}"><span class="icon-options"></span></a>
                    </div>
                </div>
            </div>

            <!-- post -->
            <div class="post post-xl">
                <!-- top section -->
                <div class="post-top">
                    <ul class="meta list-inline mb-0">
                        <li class="list-inline-item"><a href="#"><img src="{% static 'images/other/author-sm.png' %}" class="author" alt="author"/>Katen Doe</a></li>
                        <li class="list-inline-item">29 March 2021</li>
                        <li class="list-inline-item"><i class="icon-bubble"></i> (0)</li>
                    </ul>
                    <h5 class="post-title mb-0 mt-4"><a href="{% url 'blog_single' %}">The Secrets To Finding Class Tools For Your Dress</a></h5>
                </div>
                <!-- thumbnail -->
                <div class="thumb rounded">
                    <a href="{% url 'category' %}" class="category-badge lg position-absolute">Culture</a>
                    <span class="post-format">
                        <i class="icon-camrecorder"></i>
                    </span>
                    <a href="{% url 'blog_single' %}">
                        <div class="inner">
                            <img src="{% static 'images/posts/post-xl-3.jpg' %}" alt="post-title" />
                        </div>
                    </a>
                </div>
                <!-- details -->
                <div class="details">
                    <p class="excerpt mb-0">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                </div>
                <div class="post-bottom clearfix d-flex align-items-center">
                    <div class="social-share me-auto">
                        <button class="toggle-button icon-share"></button>
                        <ul class="icons list-unstyled list-inline mb-0">
                            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-telegram-plane"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="far fa-envelope"></i></a></li>
                        </ul>
                    </div>
                    <div class="float-end d-none d-md-block">
                        <a href="{% url 'blog_single' %}" class="more-link">Continue reading<i class="icon-arrow-right"></i></a>
                    </div>
                    <div class="more-button d-block d-md-none float-end">
                        <a href="{% url 'blog_single' %}"><span class="icon-options"></span></a>
                    </div>
                </div>
            </div>

            <!-- post -->
            <div class="post post-xl">
                <!-- top section -->
                <div class="post-top">
                    <ul class="meta list-inline mb-0">
                        <li class="list-inline-item"><a href="#"><img src="{% static 'images/other/author-sm.png' %}" class="author" alt="author"/>Katen Doe</a></li>
                        <li class="list-inline-item">29 March 2021</li>
                        <li class="list-inline-item"><i class="icon-bubble"></i> (0)</li>
                    </ul>
                    <h5 class="post-title mb-0 mt-4"><a href="{% url 'blog_single' %}">Wondering How To Make Your Hair Style Rock?</a></h5>
                </div>
                <!-- thumbnail -->
                <div class="thumb rounded">
                    <a href="{% url 'category' %}" class="category-badge lg position-absolute">Trending</a>
                    <a href="{% url 'blog_single' %}">
                        <div class="inner">
                            <img src="{% static 'images/posts/post-xl-4.jpg' %}" alt="post-title" />
                        </div>
                    </a>
                </div>
                <!-- details -->
                <div class="details">
                    <p class="excerpt mb-0">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                </div>
                <div class="post-bottom clearfix d-flex align-items-center">
                    <div class="social-share me-auto">
                        <button class="toggle-button icon-share"></button>
                        <ul class="icons list-unstyled list-inline mb-0">
                            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-telegram-plane"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="far fa-envelope"></i></a></li>
                        </ul>
                    </div>
                    <div class="float-end d-none d-md-block">
                        <a href="{% url 'blog_single' %}" class="more-link">Continue reading<i class="icon-arrow-right"></i></a>
                    </div>
                    <div class="more-button d-block d-md-none float-end">
                        <a href="{% url 'blog_single' %}"><span class="icon-options"></span></a>
                    </div>
                </div>
            </div>

            <!-- pagination -->
            <nav>
                <ul class="pagination justify-content-center">
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">1</span>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                </ul>
            </nav>
        </div>
	</section>




{% endblock %}